<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tz.mapper.ZaItemMapper" >
  <resultMap id="BaseResultMap" type="com.tz.pojo.ZaItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="item_category_id" property="itemCategoryId" jdbcType="INTEGER" />
    <result column="com_id" property="comId" jdbcType="VARCHAR" />
    <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="DECIMAL" />
    <result column="member_price" property="memberPrice" jdbcType="DECIMAL" />
    <result column="item_post" property="itemPost" jdbcType="DECIMAL" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="sell_num" property="sellNum" jdbcType="INTEGER" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="homepage_url" property="homepageUrl" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="examine_time" property="examineTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="examine_id" property="examineId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, item_category_id, com_id, item_title, description, item_price, member_price, 
    item_post, sale_num, sell_num, barcode, homepage_url, image_url, detail_url, status, 
    created_time, examine_time, updated_time, operator, examine_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tz.pojo.ZaItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from za_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from za_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from za_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tz.pojo.ZaItemExample" >
    delete from za_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tz.pojo.ZaItem" >
    insert into za_item (id, item_category_id, com_id, 
      item_title, description, item_price, 
      member_price, item_post, sale_num, 
      sell_num, barcode, homepage_url, 
      image_url, detail_url, status, 
      created_time, examine_time, updated_time, 
      operator, examine_id)
    values (#{id,jdbcType=VARCHAR}, #{itemCategoryId,jdbcType=INTEGER}, #{comId,jdbcType=VARCHAR}, 
      #{itemTitle,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{itemPrice,jdbcType=DECIMAL}, 
      #{memberPrice,jdbcType=DECIMAL}, #{itemPost,jdbcType=DECIMAL}, #{saleNum,jdbcType=INTEGER}, 
      #{sellNum,jdbcType=INTEGER}, #{barcode,jdbcType=VARCHAR}, #{homepageUrl,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{detailUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{examineTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR}, #{examineId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tz.pojo.ZaItem" >
    insert into za_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemCategoryId != null" >
        item_category_id,
      </if>
      <if test="comId != null" >
        com_id,
      </if>
      <if test="itemTitle != null" >
        item_title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
      <if test="memberPrice != null" >
        member_price,
      </if>
      <if test="itemPost != null" >
        item_post,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="sellNum != null" >
        sell_num,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="homepageUrl != null" >
        homepage_url,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="detailUrl != null" >
        detail_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="examineTime != null" >
        examine_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="examineId != null" >
        examine_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemCategoryId != null" >
        #{itemCategoryId,jdbcType=INTEGER},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null" >
        #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="itemPost != null" >
        #{itemPost,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="homepageUrl != null" >
        #{homepageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null" >
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineTime != null" >
        #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="examineId != null" >
        #{examineId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tz.pojo.ZaItemExample" resultType="java.lang.Integer" >
    select count(*) from za_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update za_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.itemCategoryId != null" >
        item_category_id = #{record.itemCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.comId != null" >
        com_id = #{record.comId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemTitle != null" >
        item_title = #{record.itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPrice != null" >
        item_price = #{record.itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.memberPrice != null" >
        member_price = #{record.memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.itemPost != null" >
        item_post = #{record.itemPost,jdbcType=DECIMAL},
      </if>
      <if test="record.saleNum != null" >
        sale_num = #{record.saleNum,jdbcType=INTEGER},
      </if>
      <if test="record.sellNum != null" >
        sell_num = #{record.sellNum,jdbcType=INTEGER},
      </if>
      <if test="record.barcode != null" >
        barcode = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.homepageUrl != null" >
        homepage_url = #{record.homepageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null" >
        image_url = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.detailUrl != null" >
        detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.examineTime != null" >
        examine_time = #{record.examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null" >
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.examineId != null" >
        examine_id = #{record.examineId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update za_item
    set id = #{record.id,jdbcType=VARCHAR},
      item_category_id = #{record.itemCategoryId,jdbcType=INTEGER},
      com_id = #{record.comId,jdbcType=VARCHAR},
      item_title = #{record.itemTitle,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=DECIMAL},
      member_price = #{record.memberPrice,jdbcType=DECIMAL},
      item_post = #{record.itemPost,jdbcType=DECIMAL},
      sale_num = #{record.saleNum,jdbcType=INTEGER},
      sell_num = #{record.sellNum,jdbcType=INTEGER},
      barcode = #{record.barcode,jdbcType=VARCHAR},
      homepage_url = #{record.homepageUrl,jdbcType=VARCHAR},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
      detail_url = #{record.detailUrl,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      examine_time = #{record.examineTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR},
      examine_id = #{record.examineId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tz.pojo.ZaItem" >
    update za_item
    <set >
      <if test="itemCategoryId != null" >
        item_category_id = #{itemCategoryId,jdbcType=INTEGER},
      </if>
      <if test="comId != null" >
        com_id = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        item_title = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        item_price = #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null" >
        member_price = #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="itemPost != null" >
        item_post = #{itemPost,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        sell_num = #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="homepageUrl != null" >
        homepage_url = #{homepageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null" >
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineTime != null" >
        examine_time = #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="examineId != null" >
        examine_id = #{examineId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tz.pojo.ZaItem" >
    update za_item
    set item_category_id = #{itemCategoryId,jdbcType=INTEGER},
      com_id = #{comId,jdbcType=VARCHAR},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=DECIMAL},
      member_price = #{memberPrice,jdbcType=DECIMAL},
      item_post = #{itemPost,jdbcType=DECIMAL},
      sale_num = #{saleNum,jdbcType=INTEGER},
      sell_num = #{sellNum,jdbcType=INTEGER},
      barcode = #{barcode,jdbcType=VARCHAR},
      homepage_url = #{homepageUrl,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      detail_url = #{detailUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      examine_time = #{examineTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      examine_id = #{examineId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>