<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tz.mapper.ZaUserIncomeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.tz.pojo.ZaUserIncomeRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="deal_code" property="dealCode" jdbcType="VARCHAR" />
    <result column="in_cash" property="inCash" jdbcType="DECIMAL" />
    <result column="in_status" property="inStatus" jdbcType="INTEGER" />
    <result column="in_type" property="inType" jdbcType="INTEGER" />
    <result column="in_out" property="inOut" jdbcType="INTEGER" />
    <result column="event_desc" property="eventDesc" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="payee_real_name" property="payeeRealName" jdbcType="VARCHAR" />
    <result column="income_time" property="incomeTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_type, deal_code, in_cash, in_status, in_type, in_out, event_desc, 
    user_account, payee_real_name, income_time, created_time, updated_time, operator
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tz.pojo.ZaUserIncomeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from za_user_income_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from za_user_income_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from za_user_income_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tz.pojo.ZaUserIncomeRecordExample" >
    delete from za_user_income_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tz.pojo.ZaUserIncomeRecord" >
    insert into za_user_income_record (id, user_id, user_type, 
      deal_code, in_cash, in_status, 
      in_type, in_out, event_desc, 
      user_account, payee_real_name, income_time, 
      created_time, updated_time, operator
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{dealCode,jdbcType=VARCHAR}, #{inCash,jdbcType=DECIMAL}, #{inStatus,jdbcType=INTEGER}, 
      #{inType,jdbcType=INTEGER}, #{inOut,jdbcType=INTEGER}, #{eventDesc,jdbcType=VARCHAR}, 
      #{userAccount,jdbcType=VARCHAR}, #{payeeRealName,jdbcType=VARCHAR}, #{incomeTime,jdbcType=TIMESTAMP}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tz.pojo.ZaUserIncomeRecord" >
    insert into za_user_income_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="dealCode != null" >
        deal_code,
      </if>
      <if test="inCash != null" >
        in_cash,
      </if>
      <if test="inStatus != null" >
        in_status,
      </if>
      <if test="inType != null" >
        in_type,
      </if>
      <if test="inOut != null" >
        in_out,
      </if>
      <if test="eventDesc != null" >
        event_desc,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="payeeRealName != null" >
        payee_real_name,
      </if>
      <if test="incomeTime != null" >
        income_time,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="dealCode != null" >
        #{dealCode,jdbcType=VARCHAR},
      </if>
      <if test="inCash != null" >
        #{inCash,jdbcType=DECIMAL},
      </if>
      <if test="inStatus != null" >
        #{inStatus,jdbcType=INTEGER},
      </if>
      <if test="inType != null" >
        #{inType,jdbcType=INTEGER},
      </if>
      <if test="inOut != null" >
        #{inOut,jdbcType=INTEGER},
      </if>
      <if test="eventDesc != null" >
        #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="payeeRealName != null" >
        #{payeeRealName,jdbcType=VARCHAR},
      </if>
      <if test="incomeTime != null" >
        #{incomeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tz.pojo.ZaUserIncomeRecordExample" resultType="java.lang.Integer" >
    select count(*) from za_user_income_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update za_user_income_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.dealCode != null" >
        deal_code = #{record.dealCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inCash != null" >
        in_cash = #{record.inCash,jdbcType=DECIMAL},
      </if>
      <if test="record.inStatus != null" >
        in_status = #{record.inStatus,jdbcType=INTEGER},
      </if>
      <if test="record.inType != null" >
        in_type = #{record.inType,jdbcType=INTEGER},
      </if>
      <if test="record.inOut != null" >
        in_out = #{record.inOut,jdbcType=INTEGER},
      </if>
      <if test="record.eventDesc != null" >
        event_desc = #{record.eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.userAccount != null" >
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeRealName != null" >
        payee_real_name = #{record.payeeRealName,jdbcType=VARCHAR},
      </if>
      <if test="record.incomeTime != null" >
        income_time = #{record.incomeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null" >
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update za_user_income_record
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      deal_code = #{record.dealCode,jdbcType=VARCHAR},
      in_cash = #{record.inCash,jdbcType=DECIMAL},
      in_status = #{record.inStatus,jdbcType=INTEGER},
      in_type = #{record.inType,jdbcType=INTEGER},
      in_out = #{record.inOut,jdbcType=INTEGER},
      event_desc = #{record.eventDesc,jdbcType=VARCHAR},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      payee_real_name = #{record.payeeRealName,jdbcType=VARCHAR},
      income_time = #{record.incomeTime,jdbcType=TIMESTAMP},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tz.pojo.ZaUserIncomeRecord" >
    update za_user_income_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="dealCode != null" >
        deal_code = #{dealCode,jdbcType=VARCHAR},
      </if>
      <if test="inCash != null" >
        in_cash = #{inCash,jdbcType=DECIMAL},
      </if>
      <if test="inStatus != null" >
        in_status = #{inStatus,jdbcType=INTEGER},
      </if>
      <if test="inType != null" >
        in_type = #{inType,jdbcType=INTEGER},
      </if>
      <if test="inOut != null" >
        in_out = #{inOut,jdbcType=INTEGER},
      </if>
      <if test="eventDesc != null" >
        event_desc = #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="payeeRealName != null" >
        payee_real_name = #{payeeRealName,jdbcType=VARCHAR},
      </if>
      <if test="incomeTime != null" >
        income_time = #{incomeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tz.pojo.ZaUserIncomeRecord" >
    update za_user_income_record
    set user_id = #{userId,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      deal_code = #{dealCode,jdbcType=VARCHAR},
      in_cash = #{inCash,jdbcType=DECIMAL},
      in_status = #{inStatus,jdbcType=INTEGER},
      in_type = #{inType,jdbcType=INTEGER},
      in_out = #{inOut,jdbcType=INTEGER},
      event_desc = #{eventDesc,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      payee_real_name = #{payeeRealName,jdbcType=VARCHAR},
      income_time = #{incomeTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>